*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:url('../images/tree.jpg')no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper{
  width: 420px;
  background:transparent;
  border: 2px solid rgb(255,255,255, 0.2);
  color: white;
  border-radius: 10px;
  padding:  30px 40px;
  backdrop-filter:blur(25px) ;
   -webkit-backdrop-filter: blur(25px);
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.wrapper h1{
  font-size: 36px;
  text-align: center;
  
  text-shadow: #fff;
}
.wrapper .input-box{
  
  width: 100%;
position: relative;
  margin: 30px 0;
  
}
.input-box input{
  width:100% ;
  height:100% ;
  background:transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255,255,255, 0.6);
  border-radius: 40px;
font-size: 16px;
color:blanchedalmond;
padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color: black;
}
.input-box i{
  position: absolute;
  right: 20px;
top: 30px;
transform: translateY(-50%);
font-size: 25px;

}
.wrapper .remember-forget{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin: -12px 0 20px;
  color: #fff;
}
.remember-forget .forget{
  accent-color:#fff;
  text-decoration:none;
  color: #fff;
}
.remember-forget .forget:hover{
  text-decoration: underline;
  color: #333;
}
.wrapper .btn{
width: 100%; 
height:45px;
background: white;
border: none;
outline: none;
border-radius: 40px;
box-shadow: 0 0 10px rgba(0,0,0,.1);
cursor: pointer;
font-size: 16px;
color: #333;
font-weight: 600;
}
.wrapper .register-link{
font-size: 14.5px;
text-align: center;
margin: 20px 0 15px;
color: #fff;
display: flex;
justify-content:space-between;
}
.wrapper .re{
  color:#fff;
  text-decoration: none;
font-weight: 600;
display: flexbox;
justify-self:flex-end;
}
.wrapper .re:hover{
  text-decoration: underline;
  color: #333;
}